<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Commute Flow Mapping</title>

  <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->

  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/cyborg/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/darkly/bootstrap.min.css" >-->
  <link rel="stylesheet" href="libs/bootstrap-3.3.7/css/default/bootstrap.min.css" >
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/flatly/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/paper/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/simplex/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/slate/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/superhero/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/united/bootstrap.min.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/yeti/bootstrap.min.css" >-->

  <!--<link rel="stylesheet" href="libs/bootstrap-3.3.7/css/default/bootstrap-theme.min.css" >-->

  <!--<link rel="stylesheet" href="libs/font-awesome-4.4.0/css/font-awesome.min.css" >-->

  <link rel="stylesheet" href="libs/leaflet-0.7.7/leaflet.css" >
  <!--<link rel="stylesheet" href="libs/leaflet-plugins/sidebar-v2-master/leaflet-sidebar.min.css" >-->

  <link rel="stylesheet" href="styles/commute-flow-map.css" >


  <script type="text/javascript" src="libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
  <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->
  <script type="text/javascript" src="libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="libs/detect.js-2.2.2/detect.min.js"></script>-->

  <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- <script type="text/javascript" src="js/shared.js"></script> -->

</head>
<body>

  <div id="mapContainer" class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
    <div id='map'></div>
  </div>

  <div id="infoContainer" class="col-lg-3 col-md-4 col-sm-4 col-xs-4">

    <div>
      <div id="toggleBaseMapCheckBox" class="checkbox">
        <label><input type="checkbox" value="{{ baseMapValue }}" v-on:change="toggleBaseMap">{{ baseMapLayerName }}</label>
      </div>

      <br>

      <div id="checkedGroups">
        <input type="checkbox" id="g1" value="1" v-model="checkedGroups">
        <label for="g1" style="color: #1705d6">Consumer Services</label><span style="..."></span>
        <br>
        <input type="checkbox" id="g2" value="2" v-model="checkedGroups">
        <label for="g2" style="color: #11ea44">Typical Blue Collar Traits</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g3" value="3" v-model="checkedGroups">
        <label for="g3" style="color: #cc4704">Sustainable Sorts</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g4" value="4" v-model="checkedGroups">
        <label for="g4" style="color: #6b2ed4">Supporting Society</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g5" value="5" v-model="checkedGroups">
        <label for="g5" style="color: #d60003">Friendly Faces</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g6" value="6" v-model="checkedGroups">
        <label for="g6" style="color: #23cfb8">The Nurturers</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g7" value="7" v-model="checkedGroups">
        <label for="g7" style="color: #e1de00">Traders, Movers and Makers</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g8" value="8" v-model="checkedGroups">
        <label for="g8" style="color: #de079a">High Flyers</label><span style="width: 40px"></span>
        <br>
        <input type="checkbox" id="g9" value="9" v-model="checkedGroups">
        <label for="g9" style="color: #1fcd5f">Techs and the City Types</label><span style="width: 40px"></span>
        <br>
        <button type="button" class="btn btn-danger btn-sm" v-on:click="selectAllGroups">Select All</button>
        <br>
        <!--<span>Checked groups: {{ checkedGroups | json }}</span>-->
      </div>

      <br>

      <div id="clickedMsoaCallout" class="bs-callout bs-callout-danger">
        <h4>MSOA Info</h4>
        <p id="clickedMsoaCode"></p>
        <p id="clickedMsoa11Nm"></p>
        <p id="clickedMsoa11Nmw"></p>
      </div>

      <br>

      <div id="currentMsoaCallout" class="bs-callout bs-callout-danger">
        <p>{{ currentMsoaCode }}</p>
        <p>{{ currentMsoa11Nm }}</p>
        <p>{{ currentMsoa11Nm }}</p>
      </div>

    </div>

  </div>


  <!--<script type="text/javascript" src="libs/proj4js-2.3.12/proj4.js"></script>-->

  <!--<script type="text/javascript" src="libs/terraformer-1.0.4/terraformer-1.0.4.min.js"></script>-->
  <!--<script type="text/javascript" src="libs/terraformer-wkt-parser-1.0.0/terraformer-wkt-parser.min.js"></script>-->

  <script type="text/javascript" src="libs/vue-1.0.26/vue.js"></script>
  <!--<script type="text/javascript" src="libs/vue-1.0/vue.min.js"></script>-->
  <script type="text/javascript" src="libs/leaflet-0.7.7/leaflet.js"></script>
  <!--<script type="text/javascript" src="libs/leaflet-0.7.7/leaflet-src.js"></script>-->
  <script type="text/javascript" src="libs/leaflet-plugins/leaflet-grayscale/TileLayer.Grayscale.js"></script>

  <!--<script type="text/javascript" src="libs/leaflet-plugins/sidebar-v2-master/leaflet-sidebar.min.js"></script>-->
  <!--<script type="text/javascript" src="libs/leaflet-plugins/proj4leaflet-0.7.2/proj4leaflet.js"></script>-->
  <!--<script type="text/javascript" src="libs/leaflet-plugins/leaflet-grayscale/TileLayer.Grayscale.js"></script>-->
  <!--<script type="text/javascript" src="libs/leaflet-plugins/leaflet-providers-1.1.7/leaflet-providers.js"></script>-->

  <!--<script src="js/msoa-qc-epsg-4326.js" ></script>-->
  <!--<script src="js/msoa-qc-epsg-4326-050.js" ></script>-->
  <!--<script src="js/msoa-qc-epsg-4326-100.js" ></script>-->
  <!--<script src="js/msoa-qc-epsg-4326-250.js" ></script>-->
  <script src="js/msoa-qc-epsg-4326-500.js" ></script>
  <script src="js/test-cfm.js" ></script>

</body>
</html>
