@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
body {
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}
h1, h2 {
  font-weight: 700;
}
h3 span {
  color: #286090;
}
.row-top {
  padding-top: 10px;
}
section {
  padding: 40px 0;
  border-bottom: 1px solid #c1e1ec;
}
.nav {
  background: #F5F5F5;
}
/*.nav a {
	color: black;
	font-style: italic;
}*/
.nav li a:hover, .nav li a:focus {
  background: #eee;
}
.nav .active {
  font-weight: bold;
  background: #ddd;
}
.nav .nav {
  display: none;
}
.nav .active .nav {
  display: block;
}
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
.nav .nav span {
  margin: 0 5px 0 2px;
}
.nav .nav .active a, .nav .nav .active:hover a, .nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}
.nav .nav .active span, .nav .nav .active:hover span, .nav .nav .active:focus span {
  display: none;
}
.application {
  border-top: 1px solid #c1e1ec;
}
.affix-top {
  position: relative;
}
.affix {
  top: 20px;
}
.affix, .affix-bottom {
  width: 213px;
}
.affix-bottom {
  position: absolute;
}
footer {
  border-top: 1px solid #c1e1ec;
  height: 50px;
}
footer p {
  line-height: 50px;
  margin-bottom: 0;
}
@media (min-width:1200px) {
  .affix, .affix-bottom {
    width: 273px;
  }
}

/** typology css */
.glyphicon-large {
  font-size: 24px;
  padding-top: 20px;
}

.yellow {
  color:#ff9c00;
}
.title {
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}
hr.supergroups {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ff9c00;
  /*margin: 1em 0;*/
  padding: 0;
}
.centerModal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
